*{
	border-radius: 9px;
}
h1{
	padding: 15px;
	margin: 20px;
	background-color: rgba(30, 55, 153,1.0);
	color: #fff;
	text-align: center;
	border-radius: 9px;

}

h3{
	background-color:rgba(106, 137, 204,1.0);
	padding: 5px;
	margin: 20px;
	color: #fff;
}

footer{
	background-color: rgba(10, 61, 98,1.0);
	padding: 15px;
	margin: 20px;
	color: #cbd7d8;
	height: 50vh;
}