*{
	border-radius: 9px;
	margin: 0px;
}


h3{
	background-color:rgba(106, 137, 204,1.0);
	padding: 5px;
	color: #fff;
}
p {
	margin: 10px;
	text-align: center;
}

.container{
	width: 80%;
	max-width: 1024px;
	min-width: 50%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.header {
	padding: 15px;
	margin: 20px;
	height: 60px;
	color: #fff;
	text-align: center;
	border-radius: 9px;
	background-color: rgba(30, 55, 153,1.0);

}
.caja{
	width: 100%;
	min-width:50%;
	height: auto;
	padding: 5px;
	margin-top: 10px;
	box-sizing: border-box;


}

.enunciado {
	background-color: #ecf0f6;

}

.solucion{
	background-color: #c7d4e5;

}
.explico{
	background-color: #ecf0f6;

}

/*De https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_mediaquery_breakpoints*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .caja {
  	/*background: green; Para verificar que se activa*/
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .caja {
  	/*background: blue; Para verificar que se activa*/
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .caja {
  	/*background: orange; Para verificar que se activa*/
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .caja {
  	/*background: pink;Para verificar que se activa */
  }
}

footer{
	background-color: rgba(10, 61, 98,1.0);
	margin: 20px;
	padding: 20PX;
	color: #cbd7d8;
	height: 50vh;
}